@model ProyectoCrudNet8MVC.Models.Contact
@{
    ViewData["Title"] = "Create New Contact";
}

<h1 class="text-center">Contacts made with .NET 8 (.NET Core MVC)</h1>
<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white">
                    <strong>Create a new user contact</strong>
                </h3>
            </div>
            <div class="card-body">
                <form asp-action="Create" method="POST">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mt-3">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" placeholder="Enter your name"/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <label asp-for="Telephone" class="control-label"></label>
                        <input asp-for="Telephone" class="form-control" placeholder="Enter your telephone"/>
                        <span asp-validation-for="Telephone" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <label asp-for="Cellphone" class="control-label"></label>
                        <input asp-for="Cellphone" class="form-control" placeholder="Enter your cellphone"/>
                        <span asp-validation-for="Cellphone" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" placeholder="Enter your email"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-secondary d-block mx-auto">
                            <i class="fa fa-user" aria-hidden="true"></i> Create user
                        </button>
                    </div>
                </form>
                <a asp-controller="Start" asp-action="Index">Go Back!</a>
            </div>
        </div>
    </div>
</div>